<div class="container">
  <div class="avatar">
    <img
      src="https://raw.githubusercontent.com/amit-khatke/stackblitz-starters-3bhlev/f80042c81d7c603a81d9f0231de7433bc5a4469c/src/main/sidenav/header/images/lamborghini-vector-logo.svg"
      alt=""
    />
  </div>
  <div class="menus">
    <img
      src="https://raw.githubusercontent.com/amit-khatke/stackblitz-starters-3bhlev/8c0ebb4009c15005c2738536b14ff86cac28290c/src/main/sidenav/header/images/group-svgrepo-com.svg"
      alt="group"
    />
    <img
      src="https://raw.githubusercontent.com/amit-khatke/stackblitz-starters-3bhlev/8c0ebb4009c15005c2738536b14ff86cac28290c/src/main/sidenav/header/images/status-svgrepo-com.svg"
      alt="status"
    />
    <img
      src="https://raw.githubusercontent.com/amit-khatke/stackblitz-starters-3bhlev/8c0ebb4009c15005c2738536b14ff86cac28290c/src/main/sidenav/header/images/message-square-lines-svgrepo-com.svg"
      alt="message"
    />
    <img
      src="https://raw.githubusercontent.com/amit-khatke/stackblitz-starters-3bhlev/8c0ebb4009c15005c2738536b14ff86cac28290c/src/main/sidenav/header/images/menu-dots-svgrepo-com.svg"
      alt="menu"
    />
  </div>
</div>
